<div>
    <div style="display: flex; padding-left: 100px; padding-right: 100px; padding-top: 50px;">
        <img class="imagem" [src]="dadosAnime.images?.jpg.image_url"/>
        <div style="margin: 35px">            
            <div style="font-size: 30px;font-weight: bold;background-color: grey; padding: 10px;">Título: {{dadosAnime.title}}</div>
            <div style="font-size: 20px;font-weight: bold;background-color: grey;padding: 10px;">Ano: {{dadosAnime.year}}</div><hr>
            <div class="sinopse">Sinopse: {{dadosAnime.synopsis}}</div>
        </div>
    </div>
   
</div>