.imagem{
    width: 3300px;
    height: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3) ;
}
.sinopse{
    font-family: Georgia, serif;
    line-height: 2;
    color: white;
    background-color: cin;
    
}